.DS_Store
.vscode/
.venv/
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
*.o
*.o.tmp
*.dSYM/
main

Output/
Rulesets/

External/**/.git/
External/**/.git.embedded/
External/**/*.o
External/**/*.trace
External/**/main
External/**/validate
External/TabTree/TabTree
External/HybridCuts/HybridCuts
External/NPTree/AllApplicableRules.txt
External/NPTree/BruteClassification.txt
External/NPTree/*.rules
External/ByteCuts/*.rules
External/ByteCuts/*.trace
External/TupleMerge/*.rules
External/TupleMerge/*.trace
External/CutTSS/acl_*
External/CutTSS/fw_*
External/CutTSS/ipc_*
External/CutSplit/acl_*
External/CutSplit/fw_*
External/CutSplit/ipc_*
External/TabTree/acl_*
External/TabTree/fw_*
External/TabTree/ipc_*
External/SmartSplit/.vscode/
External/SmartSplit/hc/hypc
External/SmartSplit/hs_lookup/hs
External/SmartSplit/realrun/realpc
External/SmartSplit/realrun/tree*
External/SmartSplit/analyzer/1hc
External/SmartSplit/analyzer/a
External/SmartSplit/analyzer/sp
External/SmartSplit/analyzer/sw
External/SmartSplit/analyzer/ww
External/SmartSplit/analyzer/xs
External/SmartSplit/analyzer/__codex_single.rules
